.editor {
counter-reset: line;
border: 1px solid #ced4da;
background: rgb(239, 239, 239);
}

.editor #codeArea {
outline: none;
padding-left: 60px !important;
}

.editor pre {
padding-left: 60px !important;
min-width: 700px;
min-height: 100px;
}

.editor .editorLineNumber {
position: absolute;
left: 0px;
color: #cccccc;
text-align: right;
width: 40px;
font-weight: 100;
}